body{
  min-height: 140vh;
  max-height: 140vh;
}

.calc-frame{
  position: fixed;
  background-color: blue;
  height: 90vh;
  width: 90%;
  top: 5vh;
  margin-bottom: 5vh;
  left: 5%;
}

.calc-visor{
  position: fixed;
  background-color: grey;
  height: 40vh;
  width: 80%;
  left: 10%;
  margin-top: 2rem;
}

.calc-visor h1{
  margin-left: 1.5rem;
  padding-top: 1rem;
}

.calc-btn{
  position: fixed;
  margin: 0;
  margin-top: 2rem;
  width: 80%;
  min-width: 40%;
  height: 55vh;
  left: 10%;
  top: 50%;
}

.btn{
  position: relative;
  min-height: 1.75rem;
  max-height: 3.5rem;
  width: 6.07rem;
  margin: 5px;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}